<div ng-controller='searchbar' ng-init='init()'>
  <div class="table-container">
    <form class="form-search" style="position:relative;margin:5px 0;" ng-submit="search()">
      <span>
        <input placeholder="Type to filter..." ng-model="searchText" class="search-query panel-query" ng-class="{ 'input-block-level': true }" data-min-length=0 data-items=100 type="text" />
      </span>
      <span class="end-query">
        <i class="icon-search pointer" ng-click="search()"></i>
      </span>
    </form>
  </div>
</div>

